* {
    margin: 0;
    padding: 0;

}

/* HEADER */
.titulo {
    color: rgb(252, 242, 242);
}

.nav {
    justify-content: flex-end;
}

/*  MAIN INDEX */

.main__title,
.aside__title {
    margin-top: 4rem;
    text-align: center;
    color: rgb(252, 242, 242);
}

.card {
    box-shadow: 0 .5rem 1rem #f5f4f4b0;
}


.card__list {
    list-style: none;
    padding: 0;
}

.card__title--simple {
    text-decoration: none;
}

/* ASIDE */
.aside__container {
    justify-content: space-evenly;
}

/* NOSOTROS MAIN */

.nos p {
    color: rgb(252, 242, 242);
}

.nosotros {
    max-width: 25%;
    border-radius: 50%;
}

/* FOOTER */
.footer__item {
    text-decoration: none;
    color: rgb(252, 242, 242);
}

@media screen and (max-width:480px) {
    .aside__container {
        justify-content: center;
    }

    .aside__card {
        margin: 3rem;
    }
}